<header class="p-3 m-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <h5>
                    Sociallife
                </h5>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-mb-0">
                <li><a href="/recentes" class="nav-link px-2 link-secondary">recentes</a></li>
                <li><a href="/relevantes" class="nav-link px-2 link-secondary">relevantes</a></li>
            </ul>
            <form action="/{{nome}}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" name="search" id="search" class="form-control" placeholder="Pesquisar..." aria-label="Search">
            </form>
            <div class="dropdown text-end">
                <a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
                    Perfil
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a href="/{{nome}}/perfil" class="dropdown-item">{{nome}}</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a href="/{{nome}}/publicar" class="dropdown-item">Novo post</a></li>
                    <li><a href="/{{nome}}/config" class="dropdown-item">Configurações</a></li>
                    <li><a href="/{{nome}}/posts" class="dropdown-item">Seus posts</a></li>
                    <li><a href="/{{nome}}/logout" class="dropdown-item" style="color: red;">Remover Conta</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <h3>Publicado com sucesso</h3>
    <div class="container">
        <ul>
            <li>
                <a href="/{{nome}}/{{id}}" class="text-decoration-none">Ver a publicação</a>
            </li>
            <li>
                <a href="/" class="text-decoration-none">Voltar para o inicio</a>
            </li>
        </ul>
    </div>
</div>