<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Social life</title>
    <style>
        div.titulo strong a{
            text-decoration: none;
        }
        div.titulo strong a:hover{
            text-decoration: underline black;
        }
    </style>
</head>
<body>
    <header class="p-3 m-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <h5>
                        Sociallife
                    </h5>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-mb-0">
                    <li><a href="/recentes" class="nav-link px-2 link-secondary">recentes</a></li>
                    <li><a href="/relevantes" class="nav-link px-2 link-secondary">relevantes</a></li>
                </ul>
                <form action="/{{nome}}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" name="search" id="search" class="form-control" placeholder="Pesquisar..." aria-label="Search">
                </form>
                <div class="dropdown text-end">
                    <a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
                        Perfil
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a href="/{{nome}}/perfil" class="dropdown-item">{{nome}}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="/{{nome}}/publicar" class="dropdown-item">Novo post</a></li>
                        <li><a href="/{{nome}}/config" class="dropdown-item">Configurações</a></li>
                        <li><a href="/{{nome}}/posts" class="dropdown-item">Seus posts</a></li>
                        <li><a href="/{{nome}}/logout" class="dropdown-item" style="color: red;">Remover Conta</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {{#each posts}}
            <div class="titulo">
                <strong>
                    {{id}}. <a href="/{{nomeUser}}/{{id}}" class="text-dark">{{titulo}}</a>
                </strong>
            </div>
            <div class="infoUser text-muted">
                <p class="form-text text-muted">
                    <a href="/user/{{nome}}" class="text-dark">{{nome}}</a>
                    {{dataPost}}
                </p>
                
            </div>
        {{/each}}
    </div>
</body>
</html>