<header class="p-3 m-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <h5>
                    Sociallife
                </h5>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-mb-0">
                <li><a href="/recentes" class="nav-link px-2 link-secondary">recentes</a></li>
                <li><a href="/relevantes" class="nav-link px-2 link-secondary">relevantes</a></li>
            </ul>
            <form action="/{{nome}}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" name="search" id="search" class="form-control" placeholder="Pesquisar..." aria-label="Search">
            </form>
            <div class="dropdown text-end">
                <a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
                    Perfil
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a href="/{{nome}}/perfil" class="dropdown-item">{{nome}}</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a href="/{{nome}}/publicar" class="dropdown-item">Novo post</a></li>
                    <li><a href="/{{nome}}/config" class="dropdown-item">Configurações</a></li>
                    <li><a href="/{{nome}}/posts" class="dropdown-item">Seus posts</a></li>
                    <li><a href="/{{nome}}/logout" class="dropdown-item" style="color: red;">Remover Conta</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <h2>Configurações</h2>
    {{#each user}}
        <form action="/{{nome}}/config">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome" id="nome" value="{{nome}}" readonly>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <textarea class="form-control" name="descricao" id="descricao" rows="3" style="height: 211px;">{{descricao}}</textarea>
            </div>
            
            
        </form>
    {{/each}}
</div>